* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
.head {
    color: #1e9bff;
    letter-spacing: 0.25em;
    font-weight: 600;
    font-size: xx-large;
}
